@model RoboTrue.Core.Entities.SozlesmeDurum

@{
    ViewData["Title"] = "Delete";
}

<h2>Sil</h2>

<h3>Silmek istediğine emin misin ? </h3>
<div>
    <h4>SozlesmeDurum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SozlesmeDurumu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SozlesmeDurumu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SozlesmeBaslangıcTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SozlesmeBaslangıcTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SozlesmeBitis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SozlesmeBitis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
