@model IEnumerable<RoboTrue.Core.Entities.OlusturanKullanici>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
@using (Html.BeginForm())
{
    <form method="">
       Kullanıcı Ara (Kullanıcı Adı veya Mail Giriniz...): @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KayitliOlduguDepartman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitliOlduguDepartman.DepartmanAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
